@using Prodavnica_gramofonskih_ploca.Models;
@{
    Layout = null;
}
<html>
<head>
    @*<link rel="stylesheet" href="../Content/dizajn.css" />*@
   

</head>
<body>

  


    <div>
        <table style="border: 1px solid black;margin-left:auto;margin-right:auto;">
            <tr>
                <th>
                    Naziv
                </th>
                <th>
                    Izvodjac
                </th>
                <th>
                    Stanje
                </th>
                <th>
                    Zanr
                </th>
                <th>
                    Opis
                </th>
                <th>
                    Broj kopija
                </th>
                <th>
                    Cena
                </th>
                <th>
                    Obrisana
                </th>
                <th>
                    Na prodaju
                </th>
                <th>
                    Radnja
                </th>

            </tr>

            @{
                Dictionary<string, GramofonskaPloca> ploce = (Dictionary<string, GramofonskaPloca>)HttpContext.Current.Application["ploce"];

                foreach (var ploca in ploce.Values)
                {
                    if (ploca.Obrisana == false && ploca.BrojKopijaNaStanju > 0)
                    {
                        <tr>
                            <td style="text-align:center">

                                @ploca.Naziv

                            </td>
                            <td style="text-align:center">

                                @ploca.Izvodjac

                            </td>
                            <td style="text-align:center">

                                @ploca.Stanje

                            </td>
                            <td style="text-align:center">

                                @ploca.Zanr

                            </td>
                            <td style="text-align:center">

                                @ploca.Opis

                            </td>
                            <td style="text-align:center">

                                @ploca.BrojKopijaNaStanju

                            </td>
                            <td style="text-align:center">

                                @ploca.Cena

                            </td>
                            <td style="text-align:center">

                                @ploca.Obrisana

                            </td>
                            <td style="text-align:center">

                                @ploca.NaProdaju

                            </td>
                            <td style="text-align:center">

                                @ploca.NazivRadnje

                            </td>
                        </tr>


                    }

                }
            }

           


        </table>

        <div>
            <form action="../PrikazPloca/Sortiraj" method="post">

                <table style="border: 1px solid black;margin-left:auto;margin-right:auto;">
                    <tr>
                        <td>


                            Sortiranje po

                        </td>
                        <td>

                            <input list="izborSortiranja" name="kriterijum" required>
                            <datalist id="izborSortiranja">
                                <option value="Nazivu"></option>
                                <option value="Autoru"></option>
                                <option value="Ceni"></option>
                            </datalist>

                        </td>

                        <td>

                            Kriterijum

                        </td>
                        <td>

                            <input list="nacinSortiranja" name="nacin" required>
                            <datalist id="nacinSortiranja">
                                <option value="Rastuce"></option>
                                <option value="Opadajuce"></option>
                            </datalist>

                        </td>

                        <td colspan="2">
                            <button type="submit"> Potvrdi!</button>
                        </td>

                    </tr>
                </table>
            </form>


            <form action="../PrikazPloca/PretraziPoAutoruIliNazivu" method="post">
                <table style="border: 1px solid black;margin-left:auto;margin-right:auto;">
                    <tr>
                        <td>

                            Pretrazi po

                        </td>
                        <td>
                            <input list="izborPretrage" name="pretragaPoNazivuIliAutoru" required>
                            <datalist id="izborPretrage">
                                <option value="Nazivu"></option>
                                <option value="Autoru"></option>

                            </datalist>

                        </td>

                        <td>

                            Naziv ili autor

                        </td>
                        <td>

                            <input type="text" name="naziviliautor" required />

                        </td>


                        <td colspan="2">
                            <button type="submit"> Pretrazi!</button>
                        </td>
                    </tr>
                </table>

            </form>

            <form method="post" action="../PrikazPloca/PretraziPoCeni">
                <table style="border: 1px solid black;margin-left:auto;margin-right:auto;">

                    <tr>
                        <td>

                            Pretraga po ceni(od-do)

                        </td>


                        <td>

                            <input type="number" name="odCene" required />

                        </td>
                        <td>


                            <input type="number" name="doCene" required />

                        </td>



                        <td colspan="2">
                            <button type="submit"> Pretrazi!</button>
                        </td>
                    </tr>
                </table>
            </form>


        </div>


    </div>

</body>
</html>

